

.explore {
    display: inline;
    margin: 50px;
}

.saved {
    display: inline;
    margin: 50px;
}

.alerts {
    display: inline;
    margin: 50px;
}

.profile {
    display: inline;
    margin: 50px;
}

.material-symbols-outlined {
    padding:10px;
}