.topnav {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    width: 200px;
    margin-right: 200px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    align-self: center;
  }


  

  .topnav input[type=text] {
    padding: 6px;
    margin-bottom:100px;
    font-size: 17px;
  }

.topnav input {
    height: 30px;
    width: 80%;
}
  
h2 {
    color:red;
    font-weight: 500;
}

.explore {
    display: inline;
    margin: 50px;
}

.saved {
    display: inline;
    margin: 50px;
}

.alerts {
    display: inline;
    margin: 50px;
}

.profile {
    display: inline;
    margin: 50px;
}

.material-symbols-outlined {
    padding:10px;
    color:red;
    fill: red;
}

/* CSS */
.button-1 {
    background-color: grey;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    color:black;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    margin-left: 60px;
    width: 40%;
    outline: none;
    padding: 10px 16px;
    position: relative;
    align-self: center;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #ff0000;
  }

  
@media only screen and (min-width: 600px) {
    body {
    }

    .button-1 {
        background-color: grey;
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        color:black;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        line-height: 20px;
        list-style: none;
        margin: 0;
        margin-left: 60px;
        width: 30%;
        outline: none;
        padding: 10px 16px;
        position: relative;
        align-self: center;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button-1:hover,
      .button-1:focus {
        background-color: #ff0000;
      }
    
  }